<p id="notice"><%= notice %></p>

<h1>Delivery Addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_addresses.each do |delivery_address| %>
      <tr>
        <td><%= link_to 'Show', delivery_address %></td>
        <td><%= link_to 'Edit', edit_delivery_address_path(delivery_address) %></td>
        <td><%= link_to 'Destroy', delivery_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Address', new_delivery_address_path %>
